*{
    padding: 10;
    margin: 10;
}

body {
    text-indent: 40px;
    background-image: url('images/web-background_night_sky.gif');
    background-attachment: fixed;
    color: whitesmoke;
}

h1{
    text-align: center;
    font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, Papyrus, fantasy;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
  color: whitesmoke;   /* same as unvisited */
}

a:hover{
    color: #9999ff;
    border-color: #9999ff;
}

/* Defining base format */
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px
}

/* Menu design */
.menu-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid whitesmoke;
    padding: 10px;
}

.menu-btn {
  transition: transform 0.3s ease;
}

.menu-btn:hover {
  transform: scale(1.2);
}

/* need to work on !!!!! */
.menu-btn span {
  position: relative; /* needed for pseudo-element */
  transition: 0.5s;   /* smooth padding change */
}

.menu-btn:hover span {
  padding-right: 25px; /* text moves to make room for arrow */
}

.menu-btn span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  right: -20px;        /* arrow starts offscreen */
  transition: 0.5s;    /* smooth fade + slide */
}

.menu-btn:hover span:after {
  opacity: 1;
  right: 0;            /* arrow slides in */
}

.menu-btn:hover span:after {
  opacity: 1; /* arrow fades in */
}


/* Main content design */
.content-row {
    display: flex;    
    flex-direction: row;
    min-height: 100px;
    gap: 10px;   
}

.box{ padding-bottom: 20px; border: 2px solid whitesmoke; }
.left{ flex: 1; }
.middle{ flex: 4; }
.right{ flex: 1; }
